@layer theme, base, mui, components, utilities;
@import "tailwindcss" important;

:root {
  --primary-Lighter: hsla(221, 100%, 90%, 1);
  --primary-Light: hsla(221, 100%, 80%, 1);
  --primary-Main: hsla(221, 100%, 50%, 1);
  --primary-Dark: hsla(221, 100%, 35%, 1);
  --primary-Darker: hsla(221, 100%, 25%, 1);
  --primary-Contrast-text: var(--white-main);
  --primary-8: hsla(221, 100%, 50%, 0.08);
  --primary-12: hsla(221, 100%, 50%, 0.12);
  --primary-16: hsla(221, 100%, 50%, 0.16);
  --primary-20: hsla(221, 100%, 50%, 0.2);
  --primary-24: hsla(221, 100%, 50%, 0.24);
  --primary-32: hsla(221, 100%, 50%, 0.32);
  --primary-48: hsla(221, 100%, 50%, 0.48);
  --secondary-Lighter: hsla(273, 92%, 95%, 1);
  --secondary-Light: hsla(273, 95%, 85%, 1);
  --secondary-Main: hsla(273, 95%, 56%, 1);
  --secondary-Dark: hsla(273, 95%, 40%, 1);
  --secondary-Darker: hsla(272, 94%, 20%, 1);
  --secondary-Contrast-text: var(--white-main);
  --info-lighter: hsla(211, 100%, 95%, 1);
  --info-light: hsla(211, 100%, 80%, 1);
  --info-main: hsla(211, 100%, 50%, 1);
  --info-dark: hsla(211, 100%, 30%, 1);
  --info-darker: hsla(211, 100%, 30%, 1);
  --info-contrast-text: var(--white-main);
  --success-lighter: hsla(119, 88%, 91%, 1);
  --success-light: hsla(130, 77%, 70%, 1);
  --success-main: hsla(142, 71%, 45%, 1);
  --success-dark: hsla(154, 78%, 31%, 1);
  --success-darker: hsla(166, 88%, 20%, 1);
  --success-contrast-text: var(--white-main);
  --success-8: hsla(142, 71%, 45%, 0.08);
  --success-12: hsla(142, 71%, 45%, 0.12);
  --success-16: hsla(142, 71%, 45%, 0.16);
  --success-20: hsla(142, 71%, 45%, 0.2);
  --success-24: hsla(142, 71%, 45%, 0.24);
  --success-32: hsla(142, 71%, 45%, 0.32);
  --success-48: hsla(142, 71%, 45%, 0.48);
  --warning-lighter: hsla(48, 100%, 90%, 1);
  --warning-light: hsla(44, 100%, 70%, 1);
  --warning-main: hsla(40, 100%, 50%, 1);
  --warning-dark: hsla(36, 100%, 36%, 1);
  --warning-darker: hsla(32, 100%, 24%, 1);
  --warning-contrast-text: var(--grey-800);
  --error-lighter: hsla(29, 100%, 92%, 1);
  --error-light: hsla(20, 100%, 75%, 1);
  --error-main: hsla(4, 100%, 57%, 1);
  --error-dark: hsla(2, 77%, 41%, 1);
  --error-darker: hsla(353, 86%, 26%, 1);
  --error-contrast-text: var(--white-main);
  --grey-100: hsla(210, 20%, 98%, 1);
  --grey-200: hsla(210, 22%, 96%, 1);
  --grey-300: hsla(213, 16%, 89%, 1);
  --grey-400: hsla(208, 17%, 80%, 1);
  --grey-500: hsla(210, 13%, 62%, 1);
  --grey-600: hsla(208, 13%, 45%, 1);
  --grey-700: hsla(213, 14%, 31%, 1);
  --grey-800: hsla(211, 24%, 17%, 1);
  --grey-900: hsla(214, 24%, 11%, 1);
  --grey-8: hsla(210, 13%, 62%, 0.08);
  --grey-12: hsla(210, 13%, 62%, 0.12);
  --grey-16: hsla(210, 13%, 62%, 0.16);
  --grey-20: hsla(210, 13%, 62%, 0.2);
  --grey-24: hsla(210, 13%, 62%, 0.24);
  --grey-32: hsla(210, 13%, 62%, 0.32);
  --grey-48: hsla(210, 13%, 62%, 0.48);
  --grey-56: hsla(210, 13%, 62%, 0.56);
  --grey-64: hsla(210, 13%, 62%, 0.64);
  --grey-72: hsla(210, 13%, 62%, 0.72);
  --grey-80: hsla(210, 13%, 62%, 0.8);
  --black-main: hsla(0, 0%, 0%, 1);
  --black-8: hsla(0, 0%, 0%, 0.08);
  --black-12: hsla(0, 0%, 0%, 0.12);
  --black-16: hsla(0, 0%, 0%, 0.16);
  --black-20: hsla(0, 0%, 0%, 0.2);
  --black-24: hsla(0, 0%, 0%, 0.24);
  --black-32: hsla(0, 0%, 0%, 0.32);
  --black-48: hsla(0, 0%, 0%, 0.48);
  --black-56: hsla(0, 0%, 0%, 0.56);
  --black-64: hsla(0, 0%, 0%, 0.64);
  --black-72: hsla(0, 0%, 0%, 0.72);
  --black-80: hsla(0, 0%, 0%, 0.8);
  --white-main: hsla(0, 0%, 100%, 1);
  --white-8: hsla(0, 0%, 100%, 0.08);
  --white-12: hsla(0, 0%, 100%, 0.12);
  --white-16: hsla(0, 0%, 100%, 0.16);
  --white-20: hsla(0, 0%, 100%, 0.2);
  --white-24: hsla(0, 0%, 100%, 0.24);
  --white-32: hsla(0, 0%, 100%, 0.32);
  --white-48: hsla(0, 0%, 100%, 0.48);
  --white-56: hsla(0, 0%, 100%, 0.56);
  --white-64: hsla(0, 0%, 100%, 0.64);
  --white-72: hsla(0, 0%, 100%, 0.72);
  --white-80: hsla(0, 0%, 100%, 0.8);
  --secondary-8: hsla(273, 95%, 56%, 0.08);
  --secondary-12: hsla(273, 95%, 56%, 0.12);
  --secondary-24: hsla(273, 95%, 56%, 0.24);
  --info-8: hsla(211, 100%, 50%, 0.08);
  --info-12: hsla(211, 100%, 50%, 0.12);
  --info-16: hsla(211, 100%, 50%, 0.16);
  --info-20: hsla(211, 100%, 50%, 0.2);
  --info-24: hsla(211, 100%, 50%, 0.24);
  --info-32: hsla(211, 100%, 50%, 0.32);
  --info-48: hsla(211, 100%, 50%, 0.48);
  --warning-8: hsla(40, 100%, 50%, 0.08);
  --warning-12: hsla(40, 100%, 50%, 0.12);
  --warning-16: hsla(40, 100%, 50%, 0.16);
  --warning-20: hsla(40, 100%, 50%, 0.2);
  --warning-24: hsla(40, 100%, 50%, 0.24);
  --warning-32: hsla(40, 100%, 50%, 0.32);
  --warning-48: hsla(40, 100%, 50%, 0.48);
  --error-8: hsla(11, 100%, 59%, 0.08);
  --error-12: hsla(11, 100%, 59%, 0.12);
  --error-16: hsla(11, 100%, 59%, 0.16);
  --error-20: hsla(11, 100%, 59%, 0.2);
  --error-24: hsla(11, 100%, 59%, 0.24);
  --error-32: hsla(11, 100%, 59%, 0.32);
  --error-48: hsla(11, 100%, 59%, 0.48);
  --other-facebook: hsla(214, 89%, 52%, 1);
  --other-twitter: hsla(197, 100%, 46%, 1);
  --other-linkedin: hsla(200, 100%, 37%, 1);
  --other-instagram: hsla(340, 74%, 53%, 1);
  --other-skin: hsla(1, 94%, 86%, 1);
  --other-mask: hsla(0, 0%, 100%, 0);
  --secondary-32: hsla(273, 95%, 56%, 0.32);
  --secondary-48: hsla(273, 95%, 56%, 0.48);
  --Rose-lighter: hsla(347, 90%, 96%, 1);
  --Rose-light: hsla(345, 90%, 84%, 1);
  --Rose-main: hsla(346, 91%, 60%, 1);
  --Rose-dark: hsla(346, 61%, 37%, 1);
  --Rose-darker: hsla(346, 64%, 20%, 1);
  --Rose-contrast-text: var(--white-main);
  --Rose-8: hsla(346, 91%, 60%, 0.08);
  --Rose-12: hsla(346, 91%, 60%, 0.12);
  --Rose-16: hsla(346, 91%, 60%, 0.16);
  --Rose-20: hsla(346, 91%, 60%, 0.2);
  --Rose-24: hsla(346, 91%, 60%, 0.24);
  --Rose-32: hsla(346, 91%, 60%, 0.32);
  --Rose-48: hsla(346, 91%, 60%, 0.48);
  --Orange-lighter: hsla(17, 100%, 96%, 1);
  --Orange-light: hsla(17, 100%, 83%, 1);
  --Orange-main: hsla(16, 100%, 52%, 1);
  --Orange-dark: hsla(17, 71%, 35%, 1);
  --Orange-darker: hsla(17, 71%, 18%, 1);
  --Orange-contrast-text: var(--white-main);
  --Orange-8: hsla(17, 100%, 58%, 0.08);
  --Orange-12: hsla(17, 100%, 58%, 0.12);
  --Orange-16: hsla(17, 100%, 58%, 0.16);
  --Orange-20: hsla(17, 100%, 58%, 0.2);
  --Orange-24: hsla(17, 100%, 58%, 0.24);
  --Orange-32: hsla(17, 100%, 58%, 0.32);
  --Orange-48: hsla(17, 100%, 58%, 0.48);

  --paper-shadow: rgb(145 158 171 / 30%) 0px 0px 2px 0px, rgb(145 158 171 / 12%) 0px 12px 24px -4px;
}
@theme inline {
  --letter-spacing-h1: -0.01562em;
  --letter-spacing-h2: -0.00833em;
  --letter-spacing-h4: 0.00735em;
  --letter-spacing-h6: 0.0075em;
  --letter-spacing-body1: 0.00938em;
  --letter-spacing-body2: 0.01071em;

  /* Material UI breakpoints */
  --breakpoint-sm: 37.5rem; /* 600px */
  --breakpoint-md: 56.25rem; /* 900px */
  --breakpoint-lg: 75rem; /* 1200px */
  --breakpoint-xl: 96rem; /* 1536px */
  --breakpoint-2xl: 120rem; /* 1920px */

  --color-action-active: hsla(208, 13%, 45%, 1);
  --color-action-hover: hsla(210, 13%, 62%, 0.08);
  --color-action-selected: hsla(208, 13%, 45%, 0.16);
  --color-action-focus: hsla(208, 13%, 45%, 0.24);
  --color-action-disabled: hsla(208, 13%, 45%, 0.8);
  --color-action-bg-disabled: hsla(208, 13%, 45%, 0.24);

  --color-background-default: var(--white-main);
  --color-background-paper: var(--white-main);
  --color-background-neutral: var(--grey-100);
}
@layer components {
  .text-action-active {
    color: var(--color-action-active) !important;
  }
}
/* Material UI base styles */
@layer base {
  h1 {
    font: var(--mui-font-h1);
  }
  h2 {
    font: var(--mui-font-h2);
  }
  h3 {
    font: var(--mui-font-h3);
  }
  h4 {
    font: var(--mui-font-h4);
  }
  h5 {
    font: var(--mui-font-h5);
  }
  h6 {
    font: var(--mui-font-h6);
  }
  p {
    font: var(--mui-font-body1);
  }
  span {
    font: var(--mui-font-body2);
  }
}

/* Material UI typography utilities */
@utility typography-* {
  font: --value(--font-*);
}

/* Material UI overlay utilities */
@utility overlay-* {
  background-image: --value(--overlay-*);
}

/* Material UI elevation utilities */
@utility elevation-* {
  background-image: --value(--overlay-*);
  box-shadow: --value(--shadow-*);
}

body {
  background: var(--color-background-default);
}
